{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <h2>模型績效</h2>
    </div>
    
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>時間</th>
                        <th>保證金餘額</th>
                        <th>可用餘額</th>
                        <th>未實現利潤</th>
                        <th>未實現虧損</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for each_value in info %}
                    <tr>
                        <td> {{ each_value.0 }} </td>
                        <td> {{ each_value.1 }} </td>
                        <td> {{ each_value.2 }} </td>
                        <td> {{ each_value.3 }} </td>
                        <td> {{ each_value.4 }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock content %}